{% extends "base.html" %}

{% block title %}{{ block.super }} Register account{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Register account</h1>
</div>
<form action="" class="form-horizontal" method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="control-group {% if field.errors %} error {% endif %}">
    {% if field.field.required %}
    <label class="control-label" for="id_{{ field.html_name }}"><strong>{{ field.label }}</strong></label>
    {% else %}
    <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
    {% endif %}
    <div class="controls">
      {{ field }}
      {% if field.errors %}
      <span class="help-inline">
        {% for error in field.errors %}
        {{ error }}
        {% if not forloop.last %}; {% endif %}
        {% endfor %}
      </span>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn" href="/">Cancel</a>
  </div>
</form>
{% endblock %}
