{% extends "base.html" %}

{% block title %}{{ block.super }} Classrooms{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Classrooms</h1>
</div>

{% if classrooms_list %}
<dl>
    {% for classroom in classrooms_list %}
    <dt>
    <a href="{{ classroom.id }}/">{{ classroom.name }}</a>
    <span>(</span><a href="/editions/author/{{ classroom.leader }}/">{{ classroom.leader }}</a></span>)</span>
    </dt>
    <dd>{{ classroom.description }}</dd>
    {% endfor %}
</dl>
{% else %}
<p>No classrooms are available.</p>
{% endif %}
{% endblock %}
