{% extends "base.html" %}

{% block title %}
{{ block.super }}
{% if edition %}
{{ edition.title }}
{% else %}
Add edition
{% endif %}
{% endblock %}

{% block content %}
<div class="page-header">
  {% if edition %}
  <h3>{{ edition.title }}</h3>
  <small>{{ edition.status }} {{ edition.permission }} {{ edition.classroom }}</small>
  {% else %}
  <h3>Add edition</h3>
  {% endif %}
</div>
<form action="" class="form-horizontal" method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="control-group {% if field.errors %} error {% endif %}">
    {% if field.field.required %}
    <label class="control-label" for="id_{{ field.html_name }}"><strong>{{ field.label }}</strong></label>
    {% else %}
    <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
    {% endif %}
    <div class="controls">
      {{ field }}
      {% if field.errors %}
      <span class="help-inline">
        {% for error in field.errors %}
        {{ error }}
        {% if not forloop.last %}; {% endif %}
        {% endfor %}
      </span>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
    {% if edition %}
    <a class="btn btn-danger" href="../delete/">Delete</a>
    {% endif %}
    <a class="btn" href="..">Cancel</a>
  </div>
</form>
{% endblock %}

{% block extra_script %}
{{ form.media }}
{% endblock %}
