{% extends "base.html" %}

{% block title %}{{ block.super }} Editions{% endblock %}

{% block content %}
{% block messages %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
  <button type="button" class="close" data-dismiss="alert">×</button>
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endblock %}

<div class="page-header">
  <h1>Editions</h1>
  {% if facet %}
  <small>
    by {{ facet }}: {{ facet_value }}
  </small>
  {% else %}
  <small>For information on how to create editions see `Instructions`.</small>
  {% endif %}

  {% block actions %}
  <div class="btn-group pull-right">
    <a class="btn btn-small" href="/edition/add/">Add</a>
  </div>
  {% endblock %}
</div>

{% if editions_list %}
<dl>
  {% for edition in editions_list %}
  <dt>
  <a href="/edition/{{ edition.id }}/">{{ edition.title }}</a>
  <span> by </span>
  <a href="/edition/author/{{ edition.author }}/">{{ edition.author }}</a>,
  {{ edition.modified }}
  </dt>
  <dd>
  {% for tag in edition.tags.all %}
  <a href="/edition/tag/{{ tag }}/">{{ tag }}</a>
  {% endfor %}
  </dd>
  {% endfor %}
</dl>
{% else %}
<p>No editions are available.</p>
{% endif %}
{% endblock %}
