{% extends "base.html" %}

{% block content %}
<div class="page-header">
  <h1>About The Commonplacer</h1>
</div>
<div class="row-fluid">
  <div class="span12">
    <p>The Commonplacer is a web-based tool that allows you to edit, adapt, and
    rewrite texts to create your own editions. It is designed to work in
    conjunction with the search tools available on the
    <a target="_miscellanies"
      href="http://versemiscellaniesonline.bodleian.ox.ac.uk/">Verse Miscellanies Online</a>
    website and allows you to search for text via various criteria, and to cut
    and paste text into your own workspace, where you can edit texts.</p>
    <p>One of the aims of the tool is to encourage critical reflection on the
    process of editing as you create your own editions. The Commonplacer take
    its name from the practice of <i>commonplacing</i>, which was a way of bot
    making and reading books in the early modern period. Readers would extrac
    passages or key phrases from books and write them down in their ow
    commonplace books, often organised under headings, as a record for future
    use.</p>
    <p>The Commonplacer aims to draw attention to editing as an interpretive
    practice, as a means of not just making but also using and interpreting
    books, and to the malleability of the text, which can be enhanced through
    the digital medium.</p>
  </div>
</div>
{% endblock %}
