{% extends "base.html" %}

{% block extra_style %}
<style>
  .hero-unit {
    background-color: #9d0714;
    color: #eeeeee;
  }
</style>
{% endblock %}

{% block content %}
<div class="hero-unit">
  <div class="container">
    <h1>The Commonplacer</h1>
    <p class="lead">Welcome to the Commonplacer project.</p>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
    <h2>About</h2>
    <p>The Commonplacer project...</p>
    <p>
    <a class="btn" href="#">View details »</a>
    </p>
  </div>
  <div class="span4">
    <h2>Recent Editions</h2>
    <p>The Commonplacer project...</p>
    <p>
    <a class="btn" href="edition/">View more »</a>
    </p>
  </div>
  <div class="span4">
    <h2>Recent Classrooms</h2>
    <p>The Commonplacer project...</p>
    <p>
    <a class="btn" href="edition/classroom/">View more »</a>
    </p>
  </div>
</div>
{% endblock %}
