{% extends "base.html" %}

{% block extra_style %}
<style>
  .hero-unit {
    background: url("http://versemiscellaniesonline.bodleian.ox.ac.uk/wp-uploads/2012/04/cropped-phalese_chansons_1547.jpg") repeat scroll center center transparent;
    color: #9D0714;
  }
</style>
{% endblock %}

{% block content %}
<div class="hero-unit">
  <h1>Commonplacer</h1>
  <small>Welcome to the Commonplacer project.</small>
</div>
<div class="row-fluid">
  <div class="span4">
    <h2>About</h2>
    <p>The Commonplacer project...</p>
    <p>
    <a class="btn" href="#">View details »</a>
    </p>
  </div>
  <div class="span4">
    <h2>Recent Editions</h2>
    <p>The Commonplacer project...</p>
    <p>
    <a class="btn" href="edition/">View more »</a>
    </p>
  </div>
  <div class="span4">
    <h2>Recent Classrooms</h2>
    <p>The Commonplacer project...</p>
    <p>
    <a class="btn" href="edition/classroom/">View more »</a>
    </p>
  </div>
</div>
{% endblock %}
